body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucia Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('./image/bg-image.jpg');
    background-size: cover;
    max-width: 1000px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

h1 {
    color: goldenrod;
    font-size: 3rem;
}

#message-el,
p {
    font-size: 1.5rem;
}

#message-el {
    font-style: italic;
}

button {
    height: 32px;
    width: 150px;
    background-color: goldenrod;
    color: #016f32;
    border-radius: 2px;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 5px 0;
    margin: 5px auto;
    display: block;
}